* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 108px;
    height: 68px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 68px;
    text-align: center;
    color: #fff;
    background: #1ebfc1;
    border-radius: 14px;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    background: #ffffff;
}

.header.fixed {
    position: sticky;
    top: -48px;
    z-index: 1;
}

.header .body {
    padding: 52px 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: block;
}

.nav {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.nav a {
    padding: 8px 20px;
    font-size: 16px;
    color: #2f3a3b;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
}

.header .action-link {
    padding: 8px 8px;
    font-size: 1.6rem;
    text-align: center;
    color: #494949;
}

.header .action-link:hover {
    color: var(--primary-color);
}

.header .action-btn {
    margin-left: 9px;
    height: 48px;
    line-height: 48px;
    background: #ffffff;
    font-weight: 600;
    font-size: 16px;
    color: #1ebfc1;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
}

.header .action-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* Hero */
.hero {
    padding: 42px 0 79px;
    background: #ffffff;
}

.hero .body {
    display: flex;
    align-items: center;
}

/* Hero left */
.hero .info {
    width: 51%;
}

.hero .title {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero .desc {
    margin-top: 46px;
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .desc span {
    white-space: nowrap;
}

.hero .group-cta {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .hero-cta {
    min-width: 186px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.hero .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero .icon:hover {
    background: #ededed;
    cursor: pointer;
}

/* Hero right */
.hero .media-block {
    position: relative;
    width: 49%;
}

.hero .media-block .thumb {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

/* Courses */
.hero .courses {
    display: flex;
    align-items: center;
    position: absolute;
    top: 149px;
    left: -49px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero .courses::before {
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    top: 45px;
    left: 29px;
    background: #ffffff;
    border-radius: 4px;
}

.hero .courses .content {
    display: flex;
    align-items: center;
}

.hero .courses .book {
    margin-left: 25px;
    width: 36px;
    height: 40px;
}

.hero .student .avatar,
.hero .student span,
.hero .schedules span,
.hero .courses span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0d1111;
}

.hero .courses span {
    margin-left: 16px;
    width: 55px;
}

/* Schedules */
.hero .schedules {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 453px;
    left: -65px;
    width: 124px;
    height: 132px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .schedules span,
.hero .schedules .list {
    margin-top: 16px;
}

.hero .schedules .ratio {
    margin-top: 12px;
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

.hero .schedules .ratio:first-child {
    margin-top: 0;
}

.hero .schedules .ratio:last-child {
    width: 26px;
}

.hero .schedules .ratio::before {
    display: block;
    content: "";
    width: calc(79px * var(--ratio-done, 0) / 100);
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero .schedules .ratio-done:nth-child(1) {
    --ratio-done: 50;
}

.hero .schedules .ratio-done:nth-child(2) {
    --ratio-done: 69;
}

.hero .schedules .ratio-done:nth-child(3) {
    --ratio-done: 45;
}

/* Student */
.hero .student {
    position: absolute;
    top: 500px;
    right: 45px;
    width: 207px;
    height: 90px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .student .content {
    margin: 17px 35px;
}

.hero .student .avatar-block {
    display: flex;
    margin-top: 8px;
}

.hero .student .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    color: #ffffff;
    background-color: var(--primary-color);
}

.hero .student .avatar:first-child {
    margin-left: 0;
}

/* Feature */
.feature {
    padding-top: 130px;
    background: #e5e5e5;
}

/* Top feature */
.feature .top-feature .title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    color: #767e7e;
}

.feature .top-feature .heading {
    margin-top: 18px;
    width: 577px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.feature .top-feature .desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    line-height: 27px;
    color: #767e7e;
}

/* Bottom feature */
.feature .bottom-feature {
    margin-top: 80px;
}

.feature .bottom-feature .list {
    display: flex;
    gap: 200px;
}

.feature .bottom-feature .info {
    margin-top: 26px;
}

.feature .bottom-feature .strong {
    font-weight: 600;
    font-size: 2rem;
    line-height: 30px;
    color: #0d1111;
}

.feature .bottom-feature .desc {
    width: 224px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* Courses */
.course {
    padding: 130px 0 124px;
    background: #e5e5e5;
}

/* Top course */
.course .top-course .title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 18px;
    color: #767e7e;
}

.course .top-course .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 63px;
    color: #0d1111;
}

.course .top-course .content {
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .top-course .desc {
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.course .top-course .cta {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 21px;
    text-decoration-line: underline;
    color: var(--primary-color);
}

/* Bottom course */
.course .bottom-course {
    margin-top: 79px;
}

.course .bottom-course .list {
    display: flex;
    align-items: center;
    gap: 47px;
}

.course .bottom-course img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    background: #d0efed;
    border-radius: 8px;
}

.course .bottom-course .link {
    display: block;
    position: relative;
}

.course .bottom-course img:hover {
    opacity: 0.35;
}

.course .bottom-course .info {
    padding: 18px 25px 29px;
    position: absolute;
    content: "";
    display: block;
    bottom: -124px;
    left: 17px;
    width: 325px;
    height: 195px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.course .bottom-course .cost,
.course .bottom-course .sub-title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 33px;
    color: #0d1111;
}

.course .bottom-course .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    color: #767e7e;
}

.course .bottom-course .sub-desc {
    margin-top: 6px;
}

.course .bottom-course .sub-desc,
.course .bottom-course span {
    font-size: 1.4rem;
    color: #9da6a5;
}

.course .bottom-course .class {
    margin-top: 18px;
}

.course .bottom-course .item,
.course .bottom-course .class {
    display: flex;
    align-items: center;
    gap: 10px;
}

.course .bottom-course .icon {
    width: 6px;
    height: 6px;
}

/* Stats */
.stats {
    padding: 265px 0 130px;
    background: #e5e5e5;
}

.stats .row {
    display: flex;
}

/* Qty block */
.stats .qty-block {
    width: 100%;
}

.stats .list {
    display: flex;
    gap: 200px;
    justify-content: center;
}

.stats .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stats .item .heading {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 93px;
    color: #0d1111;
}

.stats .item .desc {
    margin-top: 11px;
    font-size: 1.8rem;
    line-height: 27px;
    color: #767e7e;
}

/* Feeback block */
.feedback-block {
    width: 100%;
    padding-top: 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback-block .content {
    width: 35.8%;
}

.feedback-block .content blockquote {
    width: 419px;
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.feedback-block .content .desc {
    margin-left: 5px;
    font-size: 1.8rem;
    line-height: 27px;
    color: #767e7e;
}

.feedback-block .content .desc-wrap {
    margin-top: 33px;
    display: flex;
    align-items: center;
}

.feedback-block .content .rectangle {
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback-block .content strong {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 24px;
    color: #070707;
}

.feedback-block .content .controls {
    display: flex;
    gap: 30px;
}

.feedback-block .content .control-btn {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #2ac9bf;
}

.feedback-block .content .control-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.feedback-block .media-block {
    width: 65.2%;
}

.feedback-block .media-block .avatar,
.feedback-block .media-block .main-avatar {
    position: absolute;
    content: "";
    display: block;
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.feedback-block .media-block .group-avatar {
    position: relative;
    height: 481px;
}

.feedback-block .media-block .main-avatar {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.feedback-block .media-block .avatar:nth-child(2) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 216px;
}

.feedback-block .media-block .avatar:nth-child(3) {
    width: 110px;
    height: 110px;
    top: 19px;
    right: 0;
}

.feedback-block .media-block .avatar:nth-child(4) {
    bottom: 145px;
    left: 72px;
}

.feedback-block .media-block .avatar:nth-child(5) {
    left: 284px;
    bottom: 0;
}

.feedback-block .media-block .avatar:nth-child(6) {
    right: 32px;
    bottom: 29px;
}
